<p id="register-instruction" style="margin-left: 15px; font-size: 22px; color: purple;">Please submit your registration form for new account and
    E-banking user!</p>

<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="service.formModel" (ngSubmit)="onSubmit()">
            <div class="form-group" >
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control" id="user-register-first-name-input-field" />
                <div  *ngIf="validateFirstName()">
                    <div class="invalid-input" id="firstNameErrorMessage">First Name is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" id="user-register-last-name-input-field" />
                <div  *ngIf="validateLastName()">
                    <div class="invalid-input">Last Name is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input type="tel"  formControlName="contactNumber" class="form-control"  id="user-register-contact-number-input-field"/>
                <div *ngIf="validateContactNumberExample()">Phone Format Example: 123-456-7890</div>
                <div  *ngIf="validateContactNumber()">
                    <div class="invalid-input">Invalid Contact Number</div>
                </div>
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" formControlName="address" class="form-control" id="user-register-address-input-field"/>
                <div  *ngIf="validateAddress()">
                    <div class="invalid-input">Address is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" formControlName="age" class="form-control" id="user-register-age-input-field"/>
                <div *ngIf="validateAge()">
                    <div class="invalid-input">Age is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" id="user-register-username-input-field"/>
                <div  *ngIf="validateUsername()">
                    <div class="invalid-input">Username is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" id="user-register-password-input-field" />
                <div *ngIf="validatePassword()">
                    <div class="invalid-input" id="password-error-message">Password must be at least 6 characters</div>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control"  id="user-register-email-input-field"/>
                <div  *ngIf="validateEmail()">
                    <!-- what is class="invalid-feedback" -->
                    <div class="invalid-input">Email is not valid</div>
                </div>
            </div>
            <photo-upload></photo-upload>
            <br>
            <div class="form-check">
                <!-- id = invalidCheck3 -->
                <input class="form-check-input is-invalid" type="checkbox" value="" id="user-register-agree-input-field"
                    aria-describedby="invalidCheck3Feedback" formControlName="agree" required>
                <label class="agreement" for="invalidCheck3" [ngStyle]="{'color': validateCheckBox()? 'red' : 'black'}">
                    Agree to terms and conditions
                </label>
                <div *ngIf="validateCheckBox()"id="invalidCheck3Feedback" class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div><br>
            <div class="form-group">
                <!-- [disabled] = "validateButton()" -->
                <button type="submit"  class="btn btn-primary"  id="registration-submit-button"name="register-user" [disabled] = "validateButton()">
                    <span  class=" spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>

        </form>
    </div>
</div>

