<div class="card">
	<h4 class="card-header" style="background-color: lightskyblue;">Account Close</h4>
	<div class="card-body">

        <div class="form-group">
            <label for="validationServer07" class="form-label">Select Account Number</label>
            <select  id="accNum" name="accountNumber" class="form-control">
                <option selected value="-1">Select Account</option>
                <option *ngFor="let temp of client.accList" value={{temp.accountNumber}}>{{temp.accountNumber}}</option>
            </select>
        </div>
        <br><br><br><br>
        <button class="btn btn-primary" (click)='submitRequest()'>Submit Request</button>
	</div>
</div> 
